@import '../../theme/colors.scss';


.dashboard-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 24px 32px;
  background-color: #eef0fb;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  cursor: pointer;
  transition: margin-right 0.5s;
  margin-bottom: 12px;
}

.dashboard-row:hover{
  background-color: #ced6ff;
}

.dashboard-row .title {
  font-size: 16px;
  font-family: TTNorms-Bold;
  color: $TERTIARY_TEXT_DARK;
  margin-bottom: 4px;
}

.dashboard-row .value {
  font-size: 20px;
  color: $PRIMARY_TEXT_DARK;
  display: flex;
  align-items: center;
}

.dashboard-row .copy {
  font-size: 18px;
  color: $TERTIARY_TEXT_DARK;
}

.green-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: $CALL_TO_ACTION;
  margin-right: 6px
}