@import '../../theme/colors.scss';

#dashboard {
  background-color: $BACKGROUND_DARK;
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 64px);
}

#dashboard .wrapper {
  max-width: 1080px;
  width: 100%;
  padding-top: 50px;

}

#dashboard .wrapper h3 {
  color: rgb(154, 185, 255);
  font-family: TTNorms-Regular;
  font-size: 25px;
  margin: 0;
}

#dashboard .wrapper h2 {
  color: #fff;
  font-family: TTNorms-Regular;
  font-size: 42px;
  margin: 0;
}

#panel {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-top: 50px;
  background-color: #fff;
  border-radius: 24px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .3);
  flex: 1;
}

#panel .body {
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  background: url(https://nexo.io/media/pages/dashboard/8c34c0f4f8-1656927139/slider-background-05.jpg);
  display: flex;
  flex-direction: row;
  flex: 1;
  height: 100%;
  overflow: hidden;
}


#panel .body .side-menu {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 12px;
  padding: 32px;
}

#panel .body .side-menu button {
  border: none;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .1);
  border-radius: 100px;
  padding: 12px 25px 12px 30px;
  background-color: transparent;
  color: #383e45;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-family: TTNorms-Bold;
  min-width: 180px;
  transition: background-color 1s;
}

#panel .body .side-menu button.s {
  background-color: $BACKGROUND_DARK;
  color: #fff;
}

#panel .body .side-menu button:hover {
  box-shadow: 0 0 3px 0 rgba(10, 46, 128, 0.5);
}

#panel .body .side-menu button:hover svg {
  display: block;
}

#panel .body .side-menu button.active svg {
  display: block;
}

#panel .body .side-menu button svg {
  font-size: 18px;
}

#panel .body .panel-content{
  width: 100%;
  height: 100%;
}

#panel .body .panel-content .data{
  width: 100%;
  height: calc(100% - 80px);
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 12px;
  overflow-y: scroll;
}

#panel .body .panel-content .header {
  height: 80px;
  display: flex;
  align-items: center;
  border-top-right-radius: 24px;
  background-color: $BACKGROUND_LIGHT;
}

#panel .body .panel-content .header span {
  font-family: TTNorms-Bold;
  font-size: 16px;
}


.row-input {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.row-input input {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 22px;
  margin-top: 6px;
  margin-bottom: 4px;
  flex: 1;
}

.row-input input::-webkit-outer-spin-button,
.row-input input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.row-input .balance {
  font-size: 12px;
  margin: 3px 0;
  color: $TERTIARY_TEXT_DARK;
}

.row-input .balance:hover {
  text-decoration: underline;
}