@import '../../theme/colors.scss';

#home {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

#home #hero{
  min-height: calc(100vh - 64px);
  background-color: #122E82;
  background-image: url('https://nexo.io/media/pages/home/205ad5745c-1656927138/atf-bgr.svg');
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
}

// MOBILE
#home.m .contentWrapper{
  max-width: none;
  margin-left: 0;
  margin-top: 0;
  padding: 12px;
  width: auto;
  justify-content: flex-start;
}

#connect-section{
  display: flex;
  flex-direction: row;
  margin-right: -150px;
}

#connect-section .left{
  margin-right: -220px;
  padding-top: 50px;
}

#connect-section .left h2{
  color: #fff;
  font-family: TTNorms-Regular;
  font-size: 42px;
  margin: 0;
}

#connect-section .left  h1{
  max-width: 550px;
  color: #fff;
  font-family: TTNorms-Bold;
  font-size: 96px;
  line-height: 90px;
  margin-top: 12px;
}

#connect-section .right{
  display: flex;
  align-items: center;
  flex-direction: row;
}

#connect-section .right img{
  max-width: 700px;
}