@import '../../theme/colors.scss';

#home {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

#home #hero{
  min-height: calc(100vh - 64px);
  background-color: #122E82;
  background-image: url('https://nexo.io/media/pages/home/205ad5745c-1656927138/atf-bgr.svg');
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
}

// MOBILE
#home.m .contentWrapper{
  max-width: none;
  margin-left: 0;
  margin-top: 0;
  padding: 12px;
  width: auto;
  justify-content: flex-start;
}
